.user-list {
  padding: 136px 24px 12px 24px;
  background-color: #E5E5E5;
  overflow-y: scroll;

  &__item {
    display: grid;
    grid-template-columns: (min-content 160px 160px 120px 180px 140px);
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 34px 10px 10px;
    background-color: white;

    & a {
      text-decoration: none;
      color: #273B69;
    }

    & button {
      box-shadow: 0 2px 2px gray;
      color: #273B69;
      font-size: 14px;
      text-align: center;
      width: 132px;
      height: 36px;
      border-radius: 5px;
      border: none;
      background-color: white;
    }

    &:hover {
      background-color: #E5EAF4;
    }
  
    &--second {
    background-color: #f7f7f7; 
    }

    & button {
      display: none;
  
    }
    &:hover button{
      display: block;
    }

    @media (max-width: 1054px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

}

